h1 {
  color: aqua;
  background-color: blueviolet;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 2cap;
}
button {
  background-color: green;
}
body {
  color: chartreuse;
  background-color: brown;
}
